.m-1 {
  margin: 2px;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}

.mt-1 {
  margin-top: 2px;
}

.mb-1 {
  margin-bottom: 2px;
}

.ml-1 {
  margin-left: 2px;
}

.mr-1 {
  margin-right: 2px;
}

.m-2 {
  margin: 4px;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.mt-2 {
  margin-top: 4px;
}

.mb-2 {
  margin-bottom: 4px;
}

.ml-2 {
  margin-left: 4px;
}

.mr-2 {
  margin-right: 4px;
}

.m-3 {
  margin: 6px;
}

.my-3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx-3 {
  margin-left: 6px;
  margin-right: 6px;
}

.mt-3 {
  margin-top: 6px;
}

.mb-3 {
  margin-bottom: 6px;
}

.ml-3 {
  margin-left: 6px;
}

.mr-3 {
  margin-right: 6px;
}

.m-4 {
  margin: 8px;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-4 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-4 {
  margin-top: 8px;
}

.mb-4 {
  margin-bottom: 8px;
}

.ml-4 {
  margin-left: 8px;
}

.mr-4 {
  margin-right: 8px;
}

.m-5 {
  margin: 10px;
}

.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-5 {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-5 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 10px;
}

.ml-5 {
  margin-left: 10px;
}

.mr-5 {
  margin-right: 10px;
}

.m-6 {
  margin: 12px;
}

.my-6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mx-6 {
  margin-left: 12px;
  margin-right: 12px;
}

.mt-6 {
  margin-top: 12px;
}

.mb-6 {
  margin-bottom: 12px;
}

.ml-6 {
  margin-left: 12px;
}

.mr-6 {
  margin-right: 12px;
}

.m-7 {
  margin: 14px;
}

.my-7 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mx-7 {
  margin-left: 14px;
  margin-right: 14px;
}

.mt-7 {
  margin-top: 14px;
}

.mb-7 {
  margin-bottom: 14px;
}

.ml-7 {
  margin-left: 14px;
}

.mr-7 {
  margin-right: 14px;
}

.m-8 {
  margin: 16px;
}

.my-8 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx-8 {
  margin-left: 16px;
  margin-right: 16px;
}

.mt-8 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 16px;
}

.ml-8 {
  margin-left: 16px;
}

.mr-8 {
  margin-right: 16px;
}

.m-9 {
  margin: 18px;
}

.my-9 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.mx-9 {
  margin-left: 18px;
  margin-right: 18px;
}

.mt-9 {
  margin-top: 18px;
}

.mb-9 {
  margin-bottom: 18px;
}

.ml-9 {
  margin-left: 18px;
}

.mr-9 {
  margin-right: 18px;
}

.m-10 {
  margin: 20px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-10 {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-10 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 20px;
}

.ml-10 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 20px;
}

.m-11 {
  margin: 22px;
}

.my-11 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.mx-11 {
  margin-left: 22px;
  margin-right: 22px;
}

.mt-11 {
  margin-top: 22px;
}

.mb-11 {
  margin-bottom: 22px;
}

.ml-11 {
  margin-left: 22px;
}

.mr-11 {
  margin-right: 22px;
}

.m-12 {
  margin: 24px;
}

.my-12 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-12 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-12 {
  margin-top: 24px;
}

.mb-12 {
  margin-bottom: 24px;
}

.ml-12 {
  margin-left: 24px;
}

.mr-12 {
  margin-right: 24px;
}

.m-13 {
  margin: 26px;
}

.my-13 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.mx-13 {
  margin-left: 26px;
  margin-right: 26px;
}

.mt-13 {
  margin-top: 26px;
}

.mb-13 {
  margin-bottom: 26px;
}

.ml-13 {
  margin-left: 26px;
}

.mr-13 {
  margin-right: 26px;
}

.m-14 {
  margin: 28px;
}

.my-14 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mx-14 {
  margin-left: 28px;
  margin-right: 28px;
}

.mt-14 {
  margin-top: 28px;
}

.mb-14 {
  margin-bottom: 28px;
}

.ml-14 {
  margin-left: 28px;
}

.mr-14 {
  margin-right: 28px;
}

.m-15 {
  margin: 30px;
}

.my-15 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx-15 {
  margin-left: 30px;
  margin-right: 30px;
}

.mt-15 {
  margin-top: 30px;
}

.mb-15 {
  margin-bottom: 30px;
}

.ml-15 {
  margin-left: 30px;
}

.mr-15 {
  margin-right: 30px;
}

.m-16 {
  margin: 32px;
}

.my-16 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mx-16 {
  margin-left: 32px;
  margin-right: 32px;
}

.mt-16 {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 32px;
}

.ml-16 {
  margin-left: 32px;
}

.mr-16 {
  margin-right: 32px;
}

.m-17 {
  margin: 34px;
}

.my-17 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.mx-17 {
  margin-left: 34px;
  margin-right: 34px;
}

.mt-17 {
  margin-top: 34px;
}

.mb-17 {
  margin-bottom: 34px;
}

.ml-17 {
  margin-left: 34px;
}

.mr-17 {
  margin-right: 34px;
}

.m-18 {
  margin: 36px;
}

.my-18 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mx-18 {
  margin-left: 36px;
  margin-right: 36px;
}

.mt-18 {
  margin-top: 36px;
}

.mb-18 {
  margin-bottom: 36px;
}

.ml-18 {
  margin-left: 36px;
}

.mr-18 {
  margin-right: 36px;
}
