.p-1 {
  padding: 2px;
}

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.pt-1 {
  padding-top: 2px;
}

.pb-1 {
  padding-bottom: 2px;
}

.pl-1 {
  padding-left: 2px;
}

.pr-1 {
  padding-right: 2px;
}

.p-2 {
  padding: 4px;
}

.py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.pt-2 {
  padding-top: 4px;
}

.pb-2 {
  padding-bottom: 4px;
}

.pl-2 {
  padding-left: 4px;
}

.pr-2 {
  padding-right: 4px;
}

.p-3 {
  padding: 6px;
}

.py-3 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-3 {
  padding-left: 6px;
  padding-right: 6px;
}

.pt-3 {
  padding-top: 6px;
}

.pb-3 {
  padding-bottom: 6px;
}

.pl-3 {
  padding-left: 6px;
}

.pr-3 {
  padding-right: 6px;
}

.p-4 {
  padding: 8px;
}

.py-4 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.pt-4 {
  padding-top: 8px;
}

.pb-4 {
  padding-bottom: 8px;
}

.pl-4 {
  padding-left: 8px;
}

.pr-4 {
  padding-right: 8px;
}

.p-5 {
  padding: 10px;
}

.py-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.pt-5 {
  padding-top: 10px;
}

.pb-5 {
  padding-bottom: 10px;
}

.pl-5 {
  padding-left: 10px;
}

.pr-5 {
  padding-right: 10px;
}

.p-6 {
  padding: 12px;
}

.py-6 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-6 {
  padding-left: 12px;
  padding-right: 12px;
}

.pt-6 {
  padding-top: 12px;
}

.pb-6 {
  padding-bottom: 12px;
}

.pl-6 {
  padding-left: 12px;
}

.pr-6 {
  padding-right: 12px;
}

.p-7 {
  padding: 14px;
}

.py-7 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.px-7 {
  padding-left: 14px;
  padding-right: 14px;
}

.pt-7 {
  padding-top: 14px;
}

.pb-7 {
  padding-bottom: 14px;
}

.pl-7 {
  padding-left: 14px;
}

.pr-7 {
  padding-right: 14px;
}

.p-8 {
  padding: 16px;
}

.py-8 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-8 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-8 {
  padding-top: 16px;
}

.pb-8 {
  padding-bottom: 16px;
}

.pl-8 {
  padding-left: 16px;
}

.pr-8 {
  padding-right: 16px;
}

.p-9 {
  padding: 18px;
}

.py-9 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.px-9 {
  padding-left: 18px;
  padding-right: 18px;
}

.pt-9 {
  padding-top: 18px;
}

.pb-9 {
  padding-bottom: 18px;
}

.pl-9 {
  padding-left: 18px;
}

.pr-9 {
  padding-right: 18px;
}

.p-10 {
  padding: 20px;
}

.py-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-10 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 20px;
}

.pl-10 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 20px;
}

.p-11 {
  padding: 22px;
}

.py-11 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.px-11 {
  padding-left: 22px;
  padding-right: 22px;
}

.pt-11 {
  padding-top: 22px;
}

.pb-11 {
  padding-bottom: 22px;
}

.pl-11 {
  padding-left: 22px;
}

.pr-11 {
  padding-right: 22px;
}

.p-12 {
  padding: 24px;
}

.py-12 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-12 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt-12 {
  padding-top: 24px;
}

.pb-12 {
  padding-bottom: 24px;
}

.pl-12 {
  padding-left: 24px;
}

.pr-12 {
  padding-right: 24px;
}

.p-13 {
  padding: 26px;
}

.py-13 {
  padding-top: 26px;
  padding-bottom: 26px;
}

.px-13 {
  padding-left: 26px;
  padding-right: 26px;
}

.pt-13 {
  padding-top: 26px;
}

.pb-13 {
  padding-bottom: 26px;
}

.pl-13 {
  padding-left: 26px;
}

.pr-13 {
  padding-right: 26px;
}

.p-14 {
  padding: 28px;
}

.py-14 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.px-14 {
  padding-left: 28px;
  padding-right: 28px;
}

.pt-14 {
  padding-top: 28px;
}

.pb-14 {
  padding-bottom: 28px;
}

.pl-14 {
  padding-left: 28px;
}

.pr-14 {
  padding-right: 28px;
}

.p-15 {
  padding: 30px;
}

.py-15 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-15 {
  padding-left: 30px;
  padding-right: 30px;
}

.pt-15 {
  padding-top: 30px;
}

.pb-15 {
  padding-bottom: 30px;
}

.pl-15 {
  padding-left: 30px;
}

.pr-15 {
  padding-right: 30px;
}

.p-16 {
  padding: 32px;
}

.py-16 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-16 {
  padding-left: 32px;
  padding-right: 32px;
}

.pt-16 {
  padding-top: 32px;
}

.pb-16 {
  padding-bottom: 32px;
}

.pl-16 {
  padding-left: 32px;
}

.pr-16 {
  padding-right: 32px;
}

.p-17 {
  padding: 34px;
}

.py-17 {
  padding-top: 34px;
  padding-bottom: 34px;
}

.px-17 {
  padding-left: 34px;
  padding-right: 34px;
}

.pt-17 {
  padding-top: 34px;
}

.pb-17 {
  padding-bottom: 34px;
}

.pl-17 {
  padding-left: 34px;
}

.pr-17 {
  padding-right: 34px;
}

.p-18 {
  padding: 36px;
}

.py-18 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.px-18 {
  padding-left: 36px;
  padding-right: 36px;
}

.pt-18 {
  padding-top: 36px;
}

.pb-18 {
  padding-bottom: 36px;
}

.pl-18 {
  padding-left: 36px;
}

.pr-18 {
  padding-right: 36px;
}
