@import url("./vars.css");
@import url("./normalize.css");
@import url("./fonts/index.css");
@import url("./spacings/index.css");

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100dvh;
  height: 100dvh;
  width: 100%;
}
